.parent {
    display: grid;
    grid-template-columns: 100px 300px repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    column-gap: 1.25rem;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    flex-direction: column;
}

.div3 .ten-cate {
    margin-bottom: 20px;
}

.div3 .mota-baiviet {
    margin-bottom: 20px;
}

.div3 .tieude-baiviet {
    color: black;
    font-weight: bold;
}

.div4 {
    grid-area: 1 / 4 / 2 / 5;
}

.parent.horizontal {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.article-hot{
    display: flex;
}

.article-hot-item{
    flex: 1;
}

.article-hot-item .div2 .tieude-baiviet{
    line-height: 22px;
    text-align: left;
}

.article-hot-item .tieude-baiviet a{
    font-size: 16px;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-carousel .slick-dots li.slick-active button{
    background-color: black;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-carousel .slick-dots li button{
    background-color: grey;
}


