USE [master]
GO
/****** Object:  Database [DoAnTotNghiep]    Script Date: 1/11/2024 11:54:20 PM ******/
CREATE DATABASE [DoAnTotNghiep]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DoAnTotNghiep', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.CHITHANH\MSSQL\DATA\DoAnTotNghiep.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DoAnTotNghiep_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.CHITHANH\MSSQL\DATA\DoAnTotNghiep_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DoAnTotNghiep].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DoAnTotNghiep]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/11/2024 11:54:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 1/11/2024 11:54:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NOT NULL,
	[CategoryBio] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 1/11/2024 11:54:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[PostId] [int] NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LikeComment]    Script Date: 1/11/2024 11:54:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LikeComment](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[CommentId] [int] NOT NULL,
	[IsLikeComment] [int] NOT NULL,
 CONSTRAINT [PK_LikeComment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LikePost]    Script Date: 1/11/2024 11:54:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LikePost](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[PostId] [int] NOT NULL,
	[IsLikePost] [int] NOT NULL,
 CONSTRAINT [PK_LikePost] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LikeReplyComment]    Script Date: 1/11/2024 11:54:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LikeReplyComment](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[ReplyCommentId] [int] NOT NULL,
	[IsLikeReplyComment] [int] NOT NULL,
 CONSTRAINT [PK_LikeReplyComment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 1/11/2024 11:54:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PostTitle] [nvarchar](max) NOT NULL,
	[PostDay] [datetime2](7) NOT NULL,
	[Specification] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[TitleImage] [nvarchar](max) NULL,
	[View] [int] NOT NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReplyComment]    Script Date: 1/11/2024 11:54:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReplyComment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[CommentId] [int] NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ReplyComment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Safe]    Script Date: 1/11/2024 11:54:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Safe](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[PostId] [int] NOT NULL,
	[IsSafe] [int] NOT NULL,
 CONSTRAINT [PK_Safe] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 1/11/2024 11:54:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TagName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagInPost]    Script Date: 1/11/2024 11:54:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagInPost](
	[Id] [uniqueidentifier] NOT NULL,
	[TagId] [int] NOT NULL,
	[PostId] [int] NOT NULL,
	[TagName] [nvarchar](max) NOT NULL,
	[PostTitle] [nvarchar](max) NOT NULL,
	[Specification] [nvarchar](max) NULL,
	[CategoryId] [int] NOT NULL,
	[TitleImage] [nvarchar](max) NULL,
 CONSTRAINT [PK_TagInPost] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 1/11/2024 11:54:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Gender] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Bio] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Location] [nvarchar](max) NULL,
	[Follower] [int] NOT NULL,
	[Following] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[BackgroundImage] [nvarchar](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230518104243_InitialCreate', N'6.0.3')
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [CategoryName], [CategoryBio]) VALUES (1, N'Thể Thao', N'Tất cả những nội dung và trao đổi liên quan tới thể thao trong nước và quốc tế.')
INSERT [dbo].[Category] ([Id], [CategoryName], [CategoryBio]) VALUES (2, N'Khoa học Công nghệ', N'Những tri thức, hiểu biết có liên quan tới các phát minh, xu hướng, lý thuyết trong tất cả các lĩnh vực khoa học cơ bản, tâm lý học, triết học, công nghệ...')
INSERT [dbo].[Category] ([Id], [CategoryName], [CategoryBio]) VALUES (3, N'Game', N'Review, walkthrough và phân tích game dành cho các game thủ thực thụ.')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([Id], [UserId], [Name], [Image], [PostId], [Text], [CreateAt]) VALUES (1, 1, N'Thanh', N'https://phongreviews.com/wp-content/uploads/2022/11/avatar-facebook-mac-dinh-8.jpg', 1, N'Bai viet hay', CAST(N'2023-01-02T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Comment] ([Id], [UserId], [Name], [Image], [PostId], [Text], [CreateAt]) VALUES (2, 2, N'Long', N'https://phongreviews.com/wp-content/uploads/2022/11/avatar-facebook-mac-dinh-8.jpg', 2, N'Bai viet k hay', CAST(N'2023-02-03T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Comment] ([Id], [UserId], [Name], [Image], [PostId], [Text], [CreateAt]) VALUES (3, 3, N'Dat', N'https://phongreviews.com/wp-content/uploads/2022/11/avatar-facebook-mac-dinh-8.jpg', 3, N'bai viet ok', CAST(N'2023-03-04T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
INSERT [dbo].[LikeComment] ([Id], [UserId], [CommentId], [IsLikeComment]) VALUES (N'ea8bcc1a-8017-4531-8f2d-0a864ea70e0e', 3, 1, 0)
INSERT [dbo].[LikeComment] ([Id], [UserId], [CommentId], [IsLikeComment]) VALUES (N'380e9690-2d17-4d8f-8fb2-3dfce06e8a30', 2, 2, 0)
INSERT [dbo].[LikeComment] ([Id], [UserId], [CommentId], [IsLikeComment]) VALUES (N'e76dc33d-a52a-479e-a61b-4308195624df', 2, 8, 0)
GO
INSERT [dbo].[LikePost] ([Id], [UserId], [PostId], [IsLikePost]) VALUES (N'2e1bc730-0677-4c86-9e90-2cc96c18348e', 1, 1, 0)
INSERT [dbo].[LikePost] ([Id], [UserId], [PostId], [IsLikePost]) VALUES (N'69f2e63a-13a3-4210-aa8f-38cf855e0a76', 1, 21, 0)
INSERT [dbo].[LikePost] ([Id], [UserId], [PostId], [IsLikePost]) VALUES (N'4d51e79b-811a-4b87-8e75-9fca10363514', 2, 1, 0)
GO
INSERT [dbo].[LikeReplyComment] ([Id], [UserId], [ReplyCommentId], [IsLikeReplyComment]) VALUES (N'93b7ce4a-dfb6-4fc4-9f11-5918257a6cec', 1, 9, 0)
INSERT [dbo].[LikeReplyComment] ([Id], [UserId], [ReplyCommentId], [IsLikeReplyComment]) VALUES (N'037bf59d-727c-4e4a-bdf2-77f7e4ac759f', 2, 2, 0)
INSERT [dbo].[LikeReplyComment] ([Id], [UserId], [ReplyCommentId], [IsLikeReplyComment]) VALUES (N'c9d3c34e-5745-4371-9d63-92ac68791c43', 1, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[ReplyComment] ON 

INSERT [dbo].[ReplyComment] ([Id], [UserId], [Name], [Image], [CommentId], [Text], [CreateAt]) VALUES (1, 1, N'Thanh', N'https://phongreviews.com/wp-content/uploads/2022/11/avatar-facebook-mac-dinh-8.jpg', 1, N'toi dong y 100% haha', CAST(N'2023-01-03T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[ReplyComment] ([Id], [UserId], [Name], [Image], [CommentId], [Text], [CreateAt]) VALUES (2, 2, N'Long', N'https://phongreviews.com/wp-content/uploads/2022/11/avatar-facebook-mac-dinh-8.jpg', 2, N'dung vay', CAST(N'2023-02-04T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[ReplyComment] ([Id], [UserId], [Name], [Image], [CommentId], [Text], [CreateAt]) VALUES (3, 3, N'Dat', N'https://phongreviews.com/wp-content/uploads/2022/11/avatar-facebook-mac-dinh-8.jpg', 3, N'chuan', CAST(N'2023-03-05T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ReplyComment] OFF
GO
INSERT [dbo].[Safe] ([Id], [UserId], [PostId], [IsSafe]) VALUES (N'055b9e3a-bcb6-4786-9800-670ef606bc90', 1, 2, 0)
INSERT [dbo].[Safe] ([Id], [UserId], [PostId], [IsSafe]) VALUES (N'e862f0fa-d735-4287-a3fc-71f0c3ac5b05', 1, 1, 0)
INSERT [dbo].[Safe] ([Id], [UserId], [PostId], [IsSafe]) VALUES (N'288ee686-b7e0-4cc4-8e95-7ebb14d181f9', 3, 3, 0)
GO
SET IDENTITY_INSERT [dbo].[Tag] ON 

INSERT [dbo].[Tag] ([Id], [TagName]) VALUES (1, N'Bóng Đá')
INSERT [dbo].[Tag] ([Id], [TagName]) VALUES (2, N'Giấc mơ')
INSERT [dbo].[Tag] ([Id], [TagName]) VALUES (3, N'Real-time strategy')
SET IDENTITY_INSERT [dbo].[Tag] OFF
GO
INSERT [dbo].[TagInPost] ([Id], [TagId], [PostId], [TagName], [PostTitle], [Specification], [CategoryId], [TitleImage]) VALUES (N'b88c3f78-3e2f-4a91-8985-0125cca76be5', 23, 39, N'Lịch sử tôn giáo và tư tưởng', N'CÂU CHUYỆN VỀ NHÀ SÁNG LẬP NÊN PHẬT GIÁO', N'Câu chuyện Phật giáo', 13, N'https://localhost:5000/images/2024010216030767256440a5ed11eea3fba1cd1e1fae39.png')
INSERT [dbo].[TagInPost] ([Id], [TagId], [PostId], [TagName], [PostTitle], [Specification], [CategoryId], [TitleImage]) VALUES (N'0158a0ce-82a2-4c0d-8ce7-0134920338cb', 7, 22, N'Vật Lý', N'[Vật Lý Cơ Bản] Vũ khí hạt nhân', N'cũng 1 thời gian rồi mình không viết bài trên này tại mình hơi bận với không có cảm hứng để viết. anyway, đây sẽ là 1 chuỗi các...', 2, N'https://localhost:5000/images/20230526222334a71c4ff028bd11e7a999e7b5135b7d88.png')
INSERT [dbo].[TagInPost] ([Id], [TagId], [PostId], [TagName], [PostTitle], [Specification], [CategoryId], [TitleImage]) VALUES (N'4cf8b7e7-0037-42e8-a731-02d3090161d5', 29, 47, N'Kỹ Năng Mềm', N'Chinh Phục 2024: Làm sao để Tạo Ra New Year Resolutions Hiệu Quả', N'Làm sao để New Years Resolutions không chỉ là lời hứa suông - 2024 sẽ năm của bạn!', 8, N'https://localhost:5000/images/2024010622391069271080a6c511eea3442564278891df.png')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [DateOfBirth], [Gender], [Type], [Email], [Phone], [Bio], [Username], [Password], [Location], [Follower], [Following], [Image], [BackgroundImage]) VALUES (1, N'Thanh', CAST(N'1999-01-12T00:00:00.0000000' AS DateTime2), 0, 0, N'tranchithanh1809@gmail.com', N'0376959875', N'Eternal Nightmare', N'thanh123', N'Thanh1234', N'Ha Noi', 1, 10, N'https://localhost:5000/images/20230606010043download.jpg', N'3')
INSERT [dbo].[User] ([Id], [Name], [DateOfBirth], [Gender], [Type], [Email], [Phone], [Bio], [Username], [Password], [Location], [Follower], [Following], [Image], [BackgroundImage]) VALUES (2, N'Long', CAST(N'1999-07-12T00:00:00.0000000' AS DateTime2), 0, 0, N'longkute123@gmail.com', N'0832536799', N'Kutelata', N'long123', N'long321', N'Ha Noi', 3, 10, N'https://phongreviews.com/wp-content/uploads/2022/11/avatar-facebook-mac-dinh-8.jpg', N'4')
INSERT [dbo].[User] ([Id], [Name], [DateOfBirth], [Gender], [Type], [Email], [Phone], [Bio], [Username], [Password], [Location], [Follower], [Following], [Image], [BackgroundImage]) VALUES (3, N'Dat', CAST(N'1999-09-09T00:00:00.0000000' AS DateTime2), 0, 0, N'nmdat0909@gmail.com', N'0345613499', N'DatKhongChin', N'dat123', N'dat321', N'Ha Noi', 9, 9, N'https://phongreviews.com/wp-content/uploads/2022/11/avatar-facebook-mac-dinh-8.jpg', N'9')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [IX_Comment_PostId]    Script Date: 1/11/2024 11:54:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comment_PostId] ON [dbo].[Comment]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comment_UserId]    Script Date: 1/11/2024 11:54:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comment_UserId] ON [dbo].[Comment]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LikeComment_CommentId]    Script Date: 1/11/2024 11:54:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_LikeComment_CommentId] ON [dbo].[LikeComment]
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LikeComment_UserId]    Script Date: 1/11/2024 11:54:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_LikeComment_UserId] ON [dbo].[LikeComment]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LikePost_PostId]    Script Date: 1/11/2024 11:54:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_LikePost_PostId] ON [dbo].[LikePost]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LikePost_UserId]    Script Date: 1/11/2024 11:54:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_LikePost_UserId] ON [dbo].[LikePost]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LikeReplyComment_ReplyCommentId]    Script Date: 1/11/2024 11:54:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_LikeReplyComment_ReplyCommentId] ON [dbo].[LikeReplyComment]
(
	[ReplyCommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LikeReplyComment_UserId]    Script Date: 1/11/2024 11:54:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_LikeReplyComment_UserId] ON [dbo].[LikeReplyComment]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Post_CategoryId]    Script Date: 1/11/2024 11:54:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_Post_CategoryId] ON [dbo].[Post]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Post_UserId]    Script Date: 1/11/2024 11:54:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_Post_UserId] ON [dbo].[Post]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReplyComment_CommentId]    Script Date: 1/11/2024 11:54:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_ReplyComment_CommentId] ON [dbo].[ReplyComment]
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReplyComment_UserId]    Script Date: 1/11/2024 11:54:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_ReplyComment_UserId] ON [dbo].[ReplyComment]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Safe_PostId]    Script Date: 1/11/2024 11:54:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_Safe_PostId] ON [dbo].[Safe]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Safe_UserId]    Script Date: 1/11/2024 11:54:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_Safe_UserId] ON [dbo].[Safe]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TagInPost_PostId]    Script Date: 1/11/2024 11:54:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_TagInPost_PostId] ON [dbo].[TagInPost]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TagInPost_TagId]    Script Date: 1/11/2024 11:54:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_TagInPost_TagId] ON [dbo].[TagInPost]
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Post_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Post_PostId]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_User_UserId]
GO
ALTER TABLE [dbo].[LikeComment]  WITH CHECK ADD  CONSTRAINT [FK_LikeComment_Comment_CommentId] FOREIGN KEY([CommentId])
REFERENCES [dbo].[Comment] ([Id])
GO
ALTER TABLE [dbo].[LikeComment] CHECK CONSTRAINT [FK_LikeComment_Comment_CommentId]
GO
ALTER TABLE [dbo].[LikeComment]  WITH CHECK ADD  CONSTRAINT [FK_LikeComment_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[LikeComment] CHECK CONSTRAINT [FK_LikeComment_User_UserId]
GO
ALTER TABLE [dbo].[LikePost]  WITH CHECK ADD  CONSTRAINT [FK_LikePost_Post_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([Id])
GO
ALTER TABLE [dbo].[LikePost] CHECK CONSTRAINT [FK_LikePost_Post_PostId]
GO
ALTER TABLE [dbo].[LikePost]  WITH CHECK ADD  CONSTRAINT [FK_LikePost_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[LikePost] CHECK CONSTRAINT [FK_LikePost_User_UserId]
GO
ALTER TABLE [dbo].[LikeReplyComment]  WITH CHECK ADD  CONSTRAINT [FK_LikeReplyComment_ReplyComment_ReplyCommentId] FOREIGN KEY([ReplyCommentId])
REFERENCES [dbo].[ReplyComment] ([Id])
GO
ALTER TABLE [dbo].[LikeReplyComment] CHECK CONSTRAINT [FK_LikeReplyComment_ReplyComment_ReplyCommentId]
GO
ALTER TABLE [dbo].[LikeReplyComment]  WITH CHECK ADD  CONSTRAINT [FK_LikeReplyComment_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[LikeReplyComment] CHECK CONSTRAINT [FK_LikeReplyComment_User_UserId]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Category_CategoryId]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_User_UserId]
GO
ALTER TABLE [dbo].[ReplyComment]  WITH CHECK ADD  CONSTRAINT [FK_ReplyComment_Comment_CommentId] FOREIGN KEY([CommentId])
REFERENCES [dbo].[Comment] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReplyComment] CHECK CONSTRAINT [FK_ReplyComment_Comment_CommentId]
GO
ALTER TABLE [dbo].[ReplyComment]  WITH CHECK ADD  CONSTRAINT [FK_ReplyComment_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReplyComment] CHECK CONSTRAINT [FK_ReplyComment_User_UserId]
GO
ALTER TABLE [dbo].[Safe]  WITH CHECK ADD  CONSTRAINT [FK_Safe_Post_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([Id])
GO
ALTER TABLE [dbo].[Safe] CHECK CONSTRAINT [FK_Safe_Post_PostId]
GO
ALTER TABLE [dbo].[Safe]  WITH CHECK ADD  CONSTRAINT [FK_Safe_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Safe] CHECK CONSTRAINT [FK_Safe_User_UserId]
GO
ALTER TABLE [dbo].[TagInPost]  WITH CHECK ADD  CONSTRAINT [FK_TagInPost_Post_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([Id])
GO
ALTER TABLE [dbo].[TagInPost] CHECK CONSTRAINT [FK_TagInPost_Post_PostId]
GO
ALTER TABLE [dbo].[TagInPost]  WITH CHECK ADD  CONSTRAINT [FK_TagInPost_Tag_TagId] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tag] ([Id])
GO
ALTER TABLE [dbo].[TagInPost] CHECK CONSTRAINT [FK_TagInPost_Tag_TagId]
GO
USE [master]
GO
